.projects {
    /*height: auto;
    display: flex;
    flex-direction: column;^*/
    margin: 15vh auto;
}

.projects-btn {
    height: 2.2em;
    margin-top: 2.5vh;
}

.projects-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.cards-1, .cards-2, .cards-3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    color: var(--black);
    margin-bottom: 10vh;
}

.card-style {
    max-width: 18rem;
}

.card-style:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.card-btn {
    background-color: var(--black);
    color: var(--white);
    border-style: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    transition: 0.5s;
    padding: 0.5em;
    margin: 1em;
}

.card-btn:hover {
    background-color: var(--gray);
    color: var(--white);
    transform: scale(1.1);
}