@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    --white: #fff;
    --gray: #333;
    --black: rgb(15, 15, 15);
    --green: rgb(39, 229, 188);
}

.basic {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
}
.hero {
    width: 80%;
    height: 90vh;
    display: flex;
    margin: 0.5vh auto;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.hero-content {
    width: 90%;
    text-align: left;
}

.hero-content h3 {
    font-size: 4vmin;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 10vh;
    cursor: pointer;
}

.hero-content h1 {
    font-size: 2rem;
    font-weight: 500;
}

#underline-name {
    text-decoration: underline;
    text-decoration-color: var(--green);
    text-underline-offset: 15px;
}

.hero-content p {
    font-size: 1.1rem;
    font-weight: 200;
    margin-top: 5vh;
}

.hero-images {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.hero-images img {
    width: 47%;
    margin: 0.5vw;
    border-radius: 5px;
}

.hero-images img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .5s;
}
